.Basket {
    width: 300px;
    min-height: 500px;
    border-radius: 10px;
}

.Basket__head {
    width: 100%;
    height: 30px;
}

.Basket__body {
    margin-top: 15px;
    width: 100%;
    height: 25px;

}
.Basket__body__frame{
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.Basket__body__product__qtt {
    display: block;
}

.Basket__body__product__price {
    display: block;
    margin-right: 10px;
}

.Basket__body__product__value {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 5px 0 5px ;
}

.Basket__body__product {

}

.Basket__body__product__editPanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
