.Basket {
    width: 300px;
    border-radius: 10px;
}

.Basket__head {
    width: 100%;
    height: 30px;
}

.Basket__body {
    margin-top: 15px;
    width: 100%;

}


.Basket__body__product__qtt {
    display: block;
}

.Basket__body__product__price {
    display: block;
    margin-right: 10px;
}

.Basket__body__product__value {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.Basket__body__product__value__box{
    width: 100%;
    margin: 0 5px 0 5px ;

}
.Basket__body__product {

}
.Basket__body__product__qtt{
    display: flex;
}
.Basket__body__product__editPanel {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Basket__body__product__price{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Basket__body__product__price__currency{
    margin-left: 5px;
}
.frame{
    border-bottom: 1px dotted black;
    width: 100%;
    margin-bottom: 20px;
}

