
.shadow {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
a {text-decoration: none;}


.sticky {
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.stickyPadding {
  transition-duration: 1s;
  padding-top: 149px;
}
